<component name="libraryTable">
  <library name="Spring-4.3.18.RELEASE" type="spring">
    <properties version="4.3.18.RELEASE" />
    <CLASSES>
      <root url="jar://D:/java_Utils/spring/springjars/spring-aspects-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-beans-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-context-support-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-core-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-instrument-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-instrument-tomcat-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-jdbc-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-jms-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-aop-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-messaging-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-oxm-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-expression-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-test-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/commons-logging-1.2.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/aopalliance-1.0.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-orm-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-tx-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/spring-context-4.3.18.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/com.springsource.org.aspectj.weaver-1.6.8.RELEASE.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/com.springsource.com.mchange.v2.c3p0-0.9.1.2.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/com.springsource.org.apache.commons.dbcp-1.2.2.osgi.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/com.springsource.org.apache.commons.pool-1.5.3.jar!/" />
      <root url="jar://D:/java_Utils/spring/springjars/mysql-connector-java-5.0.8-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>